body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    align-items: center;
    background-image: linear-gradient( #8d1eff, #4a30f5);
}

body>div {
    background-color: white;
    margin: 100px;
    border:5px solid  wheat;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    padding: 1em;
    margin: 1em;
}

header img {
    border-radius: 50%;
    max-width: 15%;
}

h2 {
    font-size: 55px;
    margin: 20px;
}

section, footer {
    border-top: 4px;
    border-color: wheat;
    border-top-style: dotted;
    margin-top: 1em;
    margin-bottom: 1em;
}

.container-experience {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 25px 50px;
    text-align: end;
}

.experience-img {
    border-radius: 20%;
    max-width: 200px;
    align-self: center;
    justify-self: center;
}

.card-experience {
    display: grid;
    grid-template-columns: 1fr 1.25fr;
    grid-template-rows: 250px;
    align-items: center;
    padding: 0.25em;
    margin: 0.25em;
    text-align: start;
}

.title-experience{
    font-size: 30px;
    margin: 0;
    text-transform: uppercase   ;
}

/* Knowledge */

.container-knowledge {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2em 2em;
    justify-content: center;
    align-content: center;
    margin:10px 0px ;
}

.icon-tec {
    max-width: 60px;
    align-self: center;
    justify-self: center;
}

/* Education */

.container-education {
    display: grid;
    grid-template-columns:repeat(5 ,1fr);
    grid-template-rows: repeat(2 , 1fr);
    margin: 0;
    gap: 1em;
}

.container-education .education-text2 {
    padding-left: 30%;
}

.card-education {
    align-items: center;
    padding: 0.5em;
    margin: 1em;
    text-align: end;
}

.card-education li {
    font-size: 0.50em;
}

.education-img {
    border-radius: 20%;
    max-width: 200px;
}

.education-img.img1 {
    align-self: center;
    justify-self: right;
    grid-column: 2;
    grid-row: 1;
}

.education-text1 {
    grid-column: 3/6;
    grid-row: 1;
    align-self: center;
    text-align: left;
    padding: 0;
    
    margin: 0;
}

.education-text2 {
    text-align: right;
    grid-column: 1/4;
    grid-row: 2;
    padding: 0;
    margin: 0;
}

.education-img.img2 {
    align-self: center;
    grid-column: 4;
    grid-row: 2;
}

/* Contact me  */

.contact-img {
    max-width: 15px;
    margin-right: 5px;
}

/* Other skills */

.container-other {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "a b";
    text-align: justify;
    margin: auto;
    padding: auto;
    gap:10%;    
}

.grid1 {
    margin: 0;
    padding: 0;
    justify-self: right;
}

.grid2 {
    margin: 0;
    padding: 0;
    justify-self: left;
}